@keyframes animate{
    0%{
        transform: scale(1.1, 1.1);
        opacity: 0.5;
    }
    50%{
        transform: scale(2.5, 2.5);
        opacity: 0.3;
    }
    100%{
        transform: scale(4.5, 4.5);
        opacity: 0.1;
    }
}
.wave{
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    animation-name: animate;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
}
.wave1{
    height: 8rem;
    width: 8rem;
    background-color: grey;
    top: 30%;
    left: 30%;
}
.wave2{
    height: 10.5rem;
    width: 10.5rem;
    background-color: grey;
    top: 25%;
    left: 25%;
}

.wave3{
    height: 13rem;
    width: 13rem;
    background-color: grey;
    top: 18%;
    left: 18%;
}

